.listContainer {
  text-align: center;
  padding: 0 5rem;
  position: relative;
}

@media screen and (max-width: 740px) {
  .listContainer {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 580px) {
  .listContainer {
    padding: 0 1rem;
  }
}
