.listContainer {
  text-align: center;
  margin: 0 5rem;
}

@media screen and (max-width: 740px) {
  .listContainer {
    margin: 0 3rem;
  }
}

@media screen and (max-width: 580px) {
  .listContainer {
    margin: 0 1rem;
  }
}
